<!DOCTYPE html>
<html>
  <head>
    <title>The Notorious Flava - студия брейк-данса в Уфе</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="The Notorious Flava - студия брейк-данса в Уфе. Мы регулярно организовываем мастер-классы, фестивали, кэмпы и многое другое, а также и сами принимаем участие во всевозможных мероприятиях. Наша программа обучения создана для разных возрастных групп, с учетом их индивидуального развития"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" href="/favicon.png" />
    <link crossorigin="use-credentials" rel="manifest" href="/manifest.json" />
  </head>
  <body>
    <noscript>
      <strong>
        Простите, но этот сайт не работает должным образом без включенного
        JavaScript.
      </strong>
    </noscript>
    <!-- quasar:entry-point -->
  </body>
</html>
