.screen {
  position: relative;

  video {
    @media (max-width: 960px) and (orientation: portrait) {
      height: 100%;
    }
  }
}

.about {
  overflow: hidden;

  &__card-item {
    height: 100%;
  }
  &__card-actions {
    position: absolute;
    bottom: 0;
  }
}

.abonements {
  overflow: hidden;

  &__box {
    width: 30%;
    background: url('/src/assets/dragon.jpg') center center / cover;
    box-shadow: 7px 0 7px 0 rgb(255 255 255 / 20%);
    z-index: 1;
    @media (max-width: 1024px) {
      width: 40%;
    }
    @media (max-width: 600px) {
      width: 0;
    }
  }

  &__slider {
    width: 70%;
    margin-left: -2%;
    @media (max-width: 1024px) {
      width: 60%;
    }
    @media (max-width: 600px) {
      width: 100%;
      margin-left: 0;
    }

    .carousel {
      &__card-item {
        height: 500px;
        background: url('/src/assets/abonements.jpg') center center / cover;
      }

      &__card-section {
        z-index: 1;
      }

      :deep(.q-panel) {
        &.scroll {
          overflow-x: hidden;
        }
      }
      :deep(.q-carousel__slide) {
        padding: 0;
      }

      :deep(.q-carousel__navigation) {
        .q-btn {
          min-height: 1.2em;
          min-width: 1.2em;
        }
      }

      :deep(.q-icon) {
        font-size: 1.2em;
      }
    }
  }
}

.trainers {
  overflow: hidden;

  &__card-item {
    height: 100%;
  }
}

.media {
  overflow: hidden;

  &__video {
    background: url('/src/assets/hongten.jpg') center center / cover;
    height: 100%;
    @media (max-width: 1024px) {
      height: 260px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    grid-template-areas:
      'a a'
      'b c';

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-template-areas: 'a' 'b' 'c';
    }

    &-item {
      height: 260px;

      span {
        z-index: 1;
      }

      &:nth-child(1) {
        grid-area: a;
      }
      &:nth-child(2) {
        grid-area: b;
        background: url('/src/assets/kinjaz.jpg') center center / cover;
      }
      &:nth-child(3) {
        grid-area: c;
        background: url('/src/assets/dragon.jpg') center center / cover;
      }
    }
  }
}

.contacts {
  overflow: hidden;

  .leaflet-map {
    position: relative;
    height: 450px;
    @media (max-width: 600px) {
      height: 300px;
    }

    #leaflet {
      width: 100%;
      height: 100%;
    }

    .info {
      position: absolute;
      top: 0;
      right: 0;
      width: 35%;
      z-index: 401;
      background: rgba(0, 0, 0, 0.8);

      @media (max-width: 960px) {
        width: 50%;
      }

      @media (max-width: 600px) {
        width: 80%;
      }

      @media (max-width: 300px) {
        width: 100%;
      }

      a {
        color: $primary;
      }
    }
  }
}
